:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --font-familly: "Poppins", sans-serif;
    --font-family: "Open Sans", sans-serif;
}

body {
    background: var(--Violet) url(../images/bg-mobile.svg) no-repeat;
    background-size: contain;
}

header img {
    width: 180px;
}

#imagem-section {
    width: 400px;
}

section h1 {
    font-family: var(--font-familly);
    font-weight: 600;
    font-size: 25px;
    line-height: 1.5em;
    margin: 80px 40px 20px 40px;
}

section p {
    font-family: var(--font-family);
    font-size: 15.5px;
    line-height: 1.7em;
    margin-bottom: 20px;
}

.btn-custom {
    color: var(--Soft-Magenta);
    margin-bottom: 50px;
}

footer {
    text-align: center;
}

.icon {
    font-size: 16px;
    padding: 5px 10px;
    color: white;
}

.alinhamento-text {
    text-align: center;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    body {
        background: var(--Violet) url(../images/bg-desktop.svg) no-repeat;
        background-size: auto;
        max-width: 1318px;
    }

    .container-pc {
        margin-left: 70px;
    }

    #imagem-section {
        width: 650px;
    }

    section h1 {
        font-size: 40px;
        margin: 70px 0 0 70px;
    }

    section p {
        margin: 25px 0 0 70px;
    }

    .btn-custom {
        margin: 25px 0 0 70px;
        padding: 0;
    }

    .btn-custom:hover {
        color: white;
        background-color: var(--Soft-Magenta);
    }

    .w-50 {
        width: 25% !important;
    }

    footer {
        text-align: end;
        margin-top: 100px;
        margin-right: 30px;
    }

    .icon:hover {
        color: var(--Soft-Magenta);
    }

    .border:hover {
        border: var(--bs-border-width) var(--bs-border-style) var(--Soft-Magenta) !important;
    }

    


    .alinhamento-text {
        text-align: start;
    }

 }
