:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --font-familly: "Poppins", sans-serif;
    --font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--Violet) url(../images/bg-mobile.svg) no-repeat;
    width: 375px;
    text-align: center;
}

header img {
    width: 120px;
    margin: 37px 25px 55px -150px;
}

#conteudo img {
    
    margin-bottom: 70px;
    width: 297px;
}

#conteudo h1, #conteudo p {
    margin: 0px 40px 20px 40px;
    color: white;
}


#conteudo h1 {
    font-family: var(--font-familly);
    font-weight: 600;
    font-size: 25px;
}

#conteudo p {
    font-family: var(--font-family);
    font-size: 15.5px;
    line-height: 25px;
}

#register {
    padding: 12px 80px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.445);
    margin-bottom: 50px;
}

#register span{
    color: var(--Violet);
    font-family: var(--font-family);
    font-weight: 600;
}

footer a {
    color: white;
    border: 1px solid white;
    padding: 7px 7px 3px 7px;
    border-radius: 50%;
}



@media (min-width:520px) {

}